 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Tools</h2>
      <img src="assets/img/Tensorflow_logo.png" style="width:80px; height:80px"></img>
      <img src="assets/img/Keras_logo.jpg" style="width:80px; height:80px"></img>
      <p>I have 1-year Tensorflow experience and can implement tensorflow to make the model I want. I know how to use keras either, but handling tensorflow is mor familiar.</p>
    </div>
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-javascript-plain colored"></i>
      <i class="devicon-react-original-wordmark colored"></i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>I have 1-year Tensorflow experience and can implement tensorflow to make the model I want.</p>
    </div>
</div>
